{% extends "layout.html" %}

{% block content %}
    <div class="exercise-details">
        <h1>{{ exercise_name }}</h1>
        <h2>Muscle Group: {{ muscle_group }}</h2>
        <p>{{ description }}</p>

        {% if video_id %}
            <div style="text-align: center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        {% else %}
            <p>No video available for this exercise.</p>
        {% endif %}
    </div>
{% endblock %}
